<div class="container-fluid">
  <div class="background">
    <h1 class="title">Weeb Search</h1>
    <div class="login">
      <form (submit)="attemptLogin(email, password, $event)" >
        <h3>{{formMode}}</h3>
        <input #email type="text" name="email" placeholder="Email" required="required"/>
        <input #password type="password" name="password" placeholder="Password" required="required"/>
        <button *ngIf="!loggingIn; else progress"
                (mouseenter)="setLoginDefault()"
                (mouseleave)="setLoginRandom()"
                type="submit"
                class="btn btn-primary btn-block btn-large" style="height: 3rem">{{login}}</button>
        <ng-template #progress>
          <div class="progress" style="height: 3rem">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
          </div>
        </ng-template>
      </form>
    </div>
  </div>
</div>

