@import '~src/app/vars';

#nav-root {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.5;
  z-index: 2;
  transition: opacity 150ms;
  &:hover {
    opacity: 1;
  }
}

.link {
  color: rgba(207, 209, 255, 0.5);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  //&:hover {
  //  color: $alt-font;
  //}
  font-weight: bold;
  font-size: 1rem;
  //color: #cfdddd;
}

.navbar-nav {
  div > a > img {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 10px;
    margin-right: 5%;
  }
}

.navbar {
  background-color: #223844;
}

.links {
  display: flex;
  flex-direction: row;
  span {
    display: flex;
    flex-direction: row;
  }
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.vl {
  margin: auto 15px;
  border-right: 2px white;
  height: 100%;
}
