<nav id="nav-root" class="navbar navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <div class="left vl" style="margin-right: 10px;">
          <img *ngIf="auth.authed as logged" src="assets/pfp.gif" alt="" class="avatar">
          <div *ngIf="!auth.authed && !auth.loading" src="assets/default.jpg" class="links"><a class="nav-item nav-link">Login</a></div>
        </div>

        <div class="links">
          <a *ngFor="let link of links; index as i" class="nav-item nav-link"
             (hover)="highlight(index)"
             [routerLink]="link.link">
            {{link.name}}
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
