<nav id="nav-root" class="navbar navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <div class="left vl" style="margin-right: 10px;">
          <a [routerLink]="['/profile']">
            <img *ngIf="auth.authed as logged" src="assets/pfp.gif" alt="" class="avatar link" (click)="debug()">
          </a>
        </div>

        <div class="links">
          <a class="nav-item nav-link link" [routerLink]="['/']">Home</a>
          <a class="nav-item nav-link link" [routerLink]="['/profile']">Profile</a>
          <a class="nav-item nav-link link" [routerLink]="['/animes']">Animes</a>
          <a class="nav-item nav-link link" [routerLink]="['/editor']">Editor</a>
          <a *ngIf="!auth.authed" class="nav-item nav-link" [routerLink]="['/login']">Login</a>
          <a #logout class="nav-item nav-link link" [routerLink]="" (click)="_logout()"><i ></i>Logout</a>

          <!--<a class="nav-item nav-link" [routerLink]="['/profile']">Profile</a>-->
          <!--<a *ngFor="let link of links; index as i" class="nav-item nav-link"-->
             <!--(hover)="highlight(i)"-->
             <!--[routerLink]="link.link">-->
          <!--</a>-->
        </div>
      </div>
    </div>
  </div>
</nav>
