<div class="anime-card">
  <div class="top">
    <div class="thumbnail-container">
      <div class="overlay-container">
        <img class="border-incomplete anime-thumbnail " [src]="thumbnailUrl || placeholder">
        <div class="icons">
          <fa-icon [icon]="faFire" class="icon-hot"></fa-icon>
          <div class="dfn" data-info="hello">
            <fa-icon [icon]="faCheck" class="icon-certificate"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="title">{{ name }}</p>
</div>

