<div class="banner-container">
  <img class="banner" src="https://cdn.anilist.co/img/dir/anime/banner/21202-UWijdV7RMnXo.jpg" alt="">
</div>
<div class="anime-header  root">
  <div class="title-column">
    <div class="badges"></div>
    <h1>{{anime?.rawName}}</h1>
  </div>
  <img class="anime-thumbnail" [src]="anime?.thumbnailUrl" alt="">
</div>
<div class="container-fluid" style="text-align: center;">
  <div class="episode-container">
    <h2 class="episode-label">Episodes</h2>
    <div class="episode-list">
      <button *ngFor="let ep of episodes; index as i"
              class="episode-button btn btn-info"
              (click)="loadSubs(ep.id)"
              (mouseenter)="previewEpisode(ep.episodeNumber)">
        {{getEpisodeSelector(ep)}}
      </button>
    </div>
    <h3 class="episode-name">{{episodeNamePreview}}</h3>
  </div>

  <div class="anime-grid">
      <h1>Dialogues</h1>
      <h1>Characters</h1>
      <div class="dialogues">
        <img [src]="randomLoader()" class="loader" *ngIf="loading && !loaderPlaying">
        <div *ngIf="!loading">
          <div #dialogueslist *ngFor="let dialogue of dialogues" class="dialogue">
            <!--<img class="speaker-thumbnail" [src]="" alt="">-->
            <p [style.background-color]="getDialogueSpeaker(dialogue)?.color">[{{dialogue.order + 1}}] <b>{{getSpeakerName(characters[dialogue.character.id])}}:</b> {{dialogue.text}}</p>
          </div>
        </div>
      </div>
      <div class="character-list">
        <div class="character" *ngFor="let character of characterList()" [style.background-color]="character.color">
          <h6>{{getCharacterListItem(character)}}</h6></div>
      </div>
    </div>
  <!--<img style="" src="https://i.ytimg.com/vi/35gZX_0iIe4/maxresdefault.jpg" alt="">-->
</div>
