@import '~src/app/vars';

$banner-height: 320px;
$secondary-background: #20232a;

.anime-thumbnail {
  margin-top: -10%;
}

.banner-container {
  overflow: hidden;
  text-align: center;
  max-height: $banner-height;
  .banner {
    min-width: 100%;
    max-height: 100%;
    margin: -100px auto;
  }
}

.badges {
  > .badge {
    //max-width: 50px;
    //max-height: 50px;
    color: dodgerblue;
  }
}

.episode-selector {

}

.anime-header {
  display: flex;
  align-self: center;
  background-color: $secondary-background;
  min-width: 100%;
  padding-bottom: 1%;
  justify-content: center;
  > img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-left: 5%;
  }
  > .title-column {
    color: white;
    display: flex;
    align-self: center;
  }
  width: 60%;
  margin: 0 auto 3%;
}

.episode-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  background-color: $secondary-background;
  border-radius: 10px;
  padding: 2% 0;
  margin: 0 auto 2%;
  > * {
    color: $alt-font;
  }
}

.episode-label {
  font-weight: bold;
  font-size: 4vw;
}

.episode-list {
  margin: 2% auto;
  display: flex;
  flex-direction: row;
}


.episode {
  display: flex;
}

.episode-name {

}

.anime-grid {
  width: 85%;
  display: grid;
  margin: 0 auto;
  grid-gap: 3%;
  grid-template-columns: 8fr 1fr;
  > * {
    color: whitesmoke;
  }
}

.character-list {
  text-align: left;
}

.loader {
  margin: 0 auto;
  max-height: 200px;
  display: flex;
}

.dialogues {
  text-align: left;
}

.speaker-thumbnail {
  max-height: 20px;
}
