<div style="margin-top: 3%"></div>
<div class="container-fluid profile-border">
  <div class="main">
    <div class="left">
      <div class="bordered profile-left profile-section">
        <div class="overlay-wrap">
          <img [src]="profile.avatar" alt="" class="avatar crown">
          <svg viewBox="0 0 500 500" class="overlay" xmlns="http://www.w3.org/2000/svg">
            <defs></defs>
            <path style="fill: rgb(216,66,82); stroke: rgb(0,0,0);"
                  d="M -0.578 210.404 C 9.441 132.369 63.198 20.809 236.994 -6.359 C 236.994 -6.359 197.109 -6.552 161.271 -6.937 C 104.246 -7.55 29.487 25.976 1.734 102.89 C -4.501 120.169 -10.666 206.488 -0.578 210.404 Z"></path>
          </svg>
        </div>
        <div class="badges">
          <div class="dfn badge administrator-badge" data-info="This user is an admin">Administrator</div>
          <div class="dfn badge moderator-badge" data-info="This user is a moderator">Moderator</div>
          <div class="dfn badge contributor-badge" data-info="This user has made contributions to transcriptions">
            Contributor
          </div>
          <div class="dfn badge alpha-tester-badge" data-info="This user has been registered since WeebSearch Alpha">
            Alpha Tester
          </div>
          <div class="badge bot-badge">Bot</div>
          <div class="badge badge-light">Wow those are</div>
          <div class="badge badge-light">A lot of badges</div>
        </div>
      </div>
      <div class="bordered navigator-left profile-section">
        <h4>Settings</h4>
        <div class="link" *ngFor="let link of links">{{ link.name }}</div>
      </div>
    </div>
    <div class="information">
      <h1 class="name">{{ profile.name }}</h1>
      <div class="about"></div>
      <div class="bordered activity">
        <div class="comments">
          <div class="comment"></div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="bordered favorites">
    </div>
  </div>
</div>

