$background-color: #edf1f5;
$background-color-alt: #eff7fb;
$foreground-color: #fafcfc;
$background-dark: #383b43;
$background-darker: #292b34;
$text-color: #9fadbd;
$text-color-light: #818c99;
$text-color-lighter: #8596a5;


