/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.text {
  color: azure;
}

html,
body {
  height: 100%;
  background-color: #14171b;
}

* {
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

.page-root {
  margin-top: 4%;
}

//
//body {
//  margin: 0;
//  font-family: 'Roboto', sans-serif;
//}

//
//*:not(path):not(g) {
//  color:                    hsla(210, 100%, 100%, 0.9) !important;
//  outline:    solid 0.16rem hsla(210, 100%, 100%, 0.5) !important;
//  box-shadow: none !important;
//}

.dfn {
  cursor: pointer;
  font-style: normal;
  position: relative;
}

.dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px; left: 0;
  opacity: 0;
  width: auto;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  background: rgba(0,0,0,0.8);
  color: #fff;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
}
.dfn::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px; left: 20px;
  opacity: 0;
  width: 0; height: 0;
  border: solid transparent 5px;
  border-bottom-color: rgba(0,0,0,0.8);
  transition: opacity 250ms, top 250ms;
}
.dfn:hover {z-index: 2;} /* Keeps the info boxes on top of other elements */
.dfn:hover::after,
.dfn:hover::before {opacity: 1;}
.dfn:hover::after {top: 30px;}
.dfn:hover::before {top: 20px;}

.loader {
  margin: 0 auto;
  max-height: 200px;
  display: flex;
}
