<div class="header-wrapper">
  <img class="home-header" src="assets/header3.png" alt="">
  <h1 class="title">WeebSearch</h1>
</div>
<div class="container-fluid" style="text-align: center">
  <div class="anime-container">
    <ng-template *ngIf="!animes || !animes.length">Whoa couldn't find anything</ng-template>
    <div class="anime-card" *ngFor="let anime of animes; index as i" [routerLink]="[animeLink(anime.rawName)]">
      <div class="title-container"><h1>{{anime.rawName}}</h1></div>
      <div class="thumbnail-container">
        <img class="anime-thumbnail" src="{{ anime.thumbnailUrl || placeholders[i] }}"><!--src="assets/shrugs/shrug2.png"> -->
      </div>
      <div class="anime-footer">
        <p><b>{{anime.characters.length}}</b> characters</p>
        <p><b>{{anime.episodes.length}}</b> episodes</p>
      </div>
    </div>
  </div>
  <!--<img style="margin: 0 auto; height: 500%" src="https://orig00.deviantart.net/808a/f/2017/038/4/a/satania_render_1_by_thegothamguardian-day7052.png"/>-->
</div>
