<div class="body">
  <div class="header-wrapper">
    <div class="title-wrapper">
      <h1 class="title">WeebSearch</h1>
      <!--<h2><b>{{  }}</b> dialogues saved</h2>-->
    </div>
    <img class="top-banner" src="assets/hifumi_banner.png" alt="">
  </div>
  <div class="container-fluid" style="text-align: center">
    <input class="search"
           title="search"
           placeholder="Search..."
           [(ngModel)]="search"
           (onkeydown)="onKeyDownSearch()">
    <img [src]="loadingGif"
         class="loader"
         *ngIf="!animes.length">
    <div class="anime-container-wrapper" *ngIf="animes.length">
      <div #searchgrid class="anime-container">
        <app-anime-preview *ngFor="let anime of animes"
                           [routerLink]="[animeLink(anime.rawName)]"
                           [name]="anime.rawName"
                           [thumbnailUrl]="anime.thumbnailUrl">
        </app-anime-preview>
      </div>
    </div>
  </div>
</div>
