<div class="header-wrapper">
  <img class="home-header" src="assets/header3.png" alt="">
  <h1 class="title">WeebSearch</h1>
</div>
<div class="container-fluid" style="text-align: center">
  <input class="search"
         title="search"
         placeholder="Search..."
         [(ngModel)]="search"
         (onkeydown)="onKeyDownSearch()">
  <img [src]="loadingGif" class="loader" *ngIf="!animes.length">
  <div #searchgrid class="anime-container" *ngIf="animes.length">
    <app-anime-preview *ngFor="let anime of animes; index as i"
                       [routerLink]="[animeLink(anime.rawName)]"
                       [name]="anime.rawName"
                       [thumbnailUrl]="anime.thumbnailUrl">
    </app-anime-preview>
  </div>
</div>
